[submodule "mod/dependencies/easy-socket"]
	path = mod/dependencies/easy-socket
	url = https://github.com/HW12Dev/easy-socket
[submodule "mod/dependencies/RE-UE4SS"]
	path = mod/dependencies/RE-UE4SS
	url = https://github.com/UE4SS-RE/RE-UE4SS.git
